<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="icon" href="{% static 'img/ps1logo.png' %}">
    <title>Login Playstation</title>
    <!-- Link bloostrap desde la web-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
      <!-- Link css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos_login.css' %}"
    />
    <!--ajustar una imagen al tamaño de la ventana-->
    <!--ajustar una imagen al tamaño de la ventana-->
  </head>




  <!-- cuerpo-->
  <body>
  <!-- NAVBAR LOGO Y NOMBRE-->
    <nav class="navbar bg-black">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'login' %}">
          <img
            src="{% static 'img/SONY-LOGO-NAVBAR.png' %}"
            alt="Logo"
            width="110"
            height="17.5"
            class="imgva"
          />

        </a>
      </div>
    </nav>
  <!-- NAVBAR LOGO Y NOMBRE-->

    <!--salto de linea-->

    <!--salto de linea-->

    <!--IMAGEN PRINCIPAL
    <div style="text-align: center">
      <img
        src="{% static 'img/IMGPRINCIPAL.png' %}"
        alt="Description of the image"
        width="600"
        height="320"
      />
    </div>
    IMAGEN PRINCIPAL-->

  <!--NAVBAR 2-->
  <ul class="nav nav-tabs" >
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://github.com/SanchezCesar19" style="color: white">Perfil GitHub</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://github.com/SanchezCesar19/TAREA1_2PARCIAL.git" style="color: white">Repositorio del proyecto</a>
    </li>
  </ul>
  <!--NAVBAR 2-->
    <!--salto de linea-->

    <!--salto de linea-->


    <!--FORMULARIO LOGIN-->
        <!--DIV PRINCIPAL DEL FORMULARIO-->
    <div class="container">
        <div class="login-left">
            <div class="login-header">
                <h1>-Bievenido a Playstation-</h1>
                <p>-Porfavor ingresa tu usuario-</p>
            </div>
            <form class="login-form" method="POST" action="/loginAction/">
            {% csrf_token %}
                <h1 class="errorusu">{{ err }}</h1>
                <div class="login-form-content">
                    <div class="form-item">
                                <label for="usuario">
                                    Usuario:
                                </label>
                                <!-- CAJA DE TEXTO DONDE INGRESAMOS EL USUARIO-->
                                <input type="text" id="email" name="usu"
                                       placeholder="Usuario" required="required">
                    </div>
                    <div class="form-item">
                                <label for="password">
                                    Contraseña:
                                </label>
                            <!-- CAJA DE TEXTO DONDE INGRESAMOS EL USUARIO-->
                                <input type="password" name="pass"
                                       placeholder="Contraseña" required="required">
                    </div>
                            <!-- CUADRO MARCADO RECORDAR CONTRASEñA-->
                    <div class="form-item">
                        <div class="checkbox">
                                    <input type="checkbox" id="remeberMeCheckbox" checked >
                                    <label for="remeberMeCheckbox" id="checkboxlabel">
                                        Recordar mi contraseña
                                    </label>
                        </div>
                    </div>
                    <button type="submit">Ingresar</button>
                </div>
            </form>
        </div>
        <div class="login-right">
                <img class="imglogin" src="{% static 'img/IMG-LOGIN.jpg' %}">
        </div>
    </div>
  </body>
</html>
